@import 'reset.css';

@import url("https://fonts.googleapis.com/css?family=Quantico");
@import url("https://fonts.googleapis.com/css?family=Saira");
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");



body {
    margin: .5rem;
    font-family: 'Saira', sans-serif;
    background: url("/assets/img/acme_logo.jpg") top right no-repeat;
}
