div.tool-block {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}

div.alert-box {
    position: fixed;
    top: 5rem;
    left: 15rem;
    border-radius: 1.5rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1.5px solid #fff;
}

div.added {
    background: #90EE90;
}

div.deleted {
    background: #C4001B;
}

div.tool-block button {
    background: #FFA56B;
    border-radius: 1.5rem;
    min-width: 7rem;
    margin: 0 1rem 0 0;
    font-weight: bold;
}

div.tool-block button:hover,
div.tool-block button.higlight {
    background: #A24000;
    color: #fff;
}

div.add-product-block {
    background: #FF8C41;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 20px #FFF;
    padding: 1rem;
    position: absolute;
    left: 8rem;
    top: 1.9rem;
    z-index: 3000;
}

div.chart-component {
    background: #FFF;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 20px #FFF;
    padding: 1rem;
    position: absolute;
    left: 12rem;
    top: 2rem;
    z-index: 3000;
}

input.product-input {
    width: 10rem;
    margin: .1rem 0 .3rem 0;
}

div.main-product-block {
    vertical-align: top;
    text-align: left;
    width: 100%;
}

div.product-list {
    padding: 1rem .7rem 1rem 1rem;
    background: #FFA710;
    border-radius: 1.5rem;
    position: relative;
    top: 0;
    left: 0;
}

span.bolder {
    font-weight: bold;
}

.narrow {
    width: 20rem;
    float: left;
    margin: .5rem .5rem 0 0;
}

.wide {
    max-width: 100%;
    float: none;
    margin: .5rem 0 0 0;
}

h2.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0 .6rem 0;
    margin: 0 0 .5rem 0;
    border-bottom: 1.5px solid black;
}

ul.product-details li {
    font-size: 1rem;
    padding: 0 0 .5rem 0;
}

button {
    border-radius: .8rem;
    border: none;
    padding: .3rem .5rem;
    font-family: 'Saira Semi Condensed', sans-serif;
}

button.delete-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #FFF;
    background: #A26600;
}

button.delete-button:hover {
    color: #FFF;
    background: #C4001B;
}
